<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming Todo -list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
	integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
	crossorigin="anonymous">

</head>
<body>
	<div class="container">
		 <ul class="nav nav-tabs">
		<li class="nav-item">
		<a class="nav-link activate" href="/">Front page</a>
		</li>
		<li class="nav-item">
		<a class="nav-link activate" href="/search">Tasks by users</a>
		</li>
		</ul> 
		
		<h2>Tasks by  </h2>
		<div th:each="index,iterStat : ${users}">
   		<h3 th:text="${users[iterStat.index].getUsername()}"></h3>
		<table class="table table-striped">
		<thead>
			<tr>
				<th>Task</th>
				<th>Date</th>
				<th>Category</th>
				<th>Status</th>
				<th>CreatedBy</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>        	
			<tr th:each="task : ${tasks}" th:if="${task.user} == ${users[iterStat.index].getUsername()}">
				<td th:text="${task.title}"></td>
				<td th:text="${task.date}"></td>
				<td th:text="${task.category.getName()}">
				<td th:text="${task.status}"></td>
				<td th:text="${task.user}"></td>
				<td><a th:href="@{edit/{id} (id=${task.id})}"><ion-icon name="create" size="large"></ion-icon></a></td>
				<td><a th:href="@{delete/{id} (id=${task.id})}"> <ion-icon name="trash" size="large"></ion-icon></a></td>
			</tr>
		</tbody>
		</table>
		</div> 
		
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out"class="btn btn-danger"  />
		</form>
	</div>
</body>
</html>